* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

.navigation-container {
  background: linear-gradient(136deg, red, blue, green);
}
.navigation {
  padding: 10px;
  align-items: center;
  display: flex;
  justify-content: space-evenly;
}

.navigation-links ul {
  list-style: none;
  margin: 0;
  padding: 0;
  justify-content: center;
  align-items: center;
}

.navigation-links li {
  display: inline-block;
  margin-right: 15px;
}

.navigation-links a {
  color: #fff;
  text-decoration: none;
  padding: 5px 10px;
  border-radius: 3px;
  font-size: 20px;
}

.navigation-links a:hover {
  background-color: #666;
}
#login {
  padding: 10px;
  border-radius: 20px;
  background: transparent;
  color: white;
  font-weight: 400;
  font-size: 1rem;
  margin: 20px;
  border: none;
}
button {
  padding: 10px;
  border-radius: 20px;
  background: hsl(0, 98%, 51%);
  color: white;
  font-weight: 400;
  font-size: 1rem;
  margin: 20px;
  border: none;
}

button:hover {
  transform: scale(1.1);
}

button:active {
  transform: scale(0.8);
}

/*??????? CARD MANENOZ?????????*/
.card-container {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 20px;
}

.card-noma {
  width: 300px;
  height: 400px;
  border: 2px solid #ccc;
  border-radius: 5px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.card-components {
  padding: 20px;
}

.card-components img {
  width: 100%;
  height: 200px;
  object-fit: cover;
  border-radius: 5px;
}

.card-components h1 {
  font-size: 18px;
  margin-top: 10px;
  margin-bottom: 5px;
}

.card-components p {
  font-size: 14px;
  margin-bottom: 10px;
}

.card-components button {
  padding: 10px 20px;
  background-color: hsl(211, 100%, 50%);
  color: #fff;
  border: none;
  border-radius: 3px;
  cursor: pointer;
}
